# <center>List & Functions</center>

### Properties of List:
    - List are like mutable
    - Stores different data type
    - Stores duplicate value

### Create a List

In [161]:
list_arr = []

In [162]:
list_arr

[]

### Add values to a list

In [163]:
list_arr = ['Hi','How','are','you?']

In [164]:
list_arr

['Hi', 'How', 'are', 'you?']

In [165]:
list_arr_1 = ['I','work','7','days','a','week']
list_arr_1

['I', 'work', '7', 'days', 'a', 'week']

In [166]:
list_inside_list = ['hi','there',['how','was','your','day']]
list_inside_list

['hi', 'there', ['how', 'was', 'your', 'day']]

### Add element to list

In [167]:
fruits_list = ['apple','mango','cherry']

In [168]:
fruits_list.append('pineapple')

In [169]:
fruits_list

['apple', 'mango', 'cherry', 'pineapple']

### Add element to specific location in list

In [170]:
fruits_list

['apple', 'mango', 'cherry', 'pineapple']

In [171]:
fruits_list.insert(1,'blueberry')

In [172]:
fruits_list

['apple', 'blueberry', 'mango', 'cherry', 'pineapple']

### Access element in list

In [173]:
fruits_list[0]

'apple'

In [174]:
fruits_list[3]

'cherry'

In [175]:
fruits_list[-1]

'pineapple'

### Change element in list

In [176]:
fruits_list

['apple', 'blueberry', 'mango', 'cherry', 'pineapple']

In [177]:
fruits_list[2] = 'banana'

In [178]:
fruits_list

['apple', 'blueberry', 'banana', 'cherry', 'pineapple']

### Remove element in list

In [179]:
fruits_list.remove('cherry')

### Remove element at specific location in list

In [180]:
fruits_list.pop(1)

'blueberry'

In [181]:
fruits_list

['apple', 'banana', 'pineapple']

### Sort element in list

In [182]:
fruits_list.sort()
fruits_list

['apple', 'banana', 'pineapple']

In [183]:
fruits_list.sort(reverse=True)
fruits_list

['pineapple', 'banana', 'apple']

### Reverse element in list

In [184]:
city = ['Vancouver','New York','Mumbai']
city.reverse()

In [185]:
city

['Mumbai', 'New York', 'Vancouver']

### Slicing of a List

In [186]:
str = 'Thisisawesome'
list_arr = list(str)

In [187]:
list_arr

['T', 'h', 'i', 's', 'i', 's', 'a', 'w', 'e', 's', 'o', 'm', 'e']

In [188]:
list_arr[0:4]

['T', 'h', 'i', 's']

In [189]:
list_arr[4:6]

['i', 's']

In [190]:
list_arr[6:]

['a', 'w', 'e', 's', 'o', 'm', 'e']

### Build-in functions with list

In [191]:
number_arr = []
for i in range(1,11):
    number_arr.append(i)

In [192]:
number_arr

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 1. lenght of a list

In [193]:
len(number_arr)

10

#### 2. Maximum value in a list

In [194]:
max(number_arr)

10

#### 3. Minimum value in a list

In [195]:
min(number_arr)

1

#### 4. Sum value in a list

In [196]:
sum(number_arr)

55